
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  

  .dietary-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }


  .card {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    color: #104F8D;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  label {
    font-size: 2rem;
    color: #107C6B;
    font-weight: 600;
  }
  
  input[type="checkbox"] {
    accent-color: #104F8D;
    transform: scale(1.2);
  }
  
  input[type="number"],
  input[type="text"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #7FA362;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  input:focus {
    border-color: #104F8D;
    outline: none;
    box-shadow: 0px 0px 5px rgba(16, 79, 141, 0.5);
  }
  
  button {
    width: 100%;
    background: linear-gradient(135deg, #104F8D, #107C6B);
    color: white;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background: linear-gradient(135deg, #107C6B, #7FA362);
  }
  
  button:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(127, 163, 98, 0.5);
  }